*{
    box-sizing: border-box;
}
body{
    background-color: white;
}
header{
    height: 150px;
    background-color: hotpink;
    font-size: 50px;
    text-align: center;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-family: Tmon몬소리, 'Times New Roman', Times;
}
main{
    height: auto;
    border-radius: 11px;
    width: 1500px;
    margin: 0 auto;
}
footer{
    height: 100px;
    background-color: darkturquoise;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-family: Tmon몬소리, 'Times New Roman', Times;
}
#top{
    height: 35px;
    background-color: slategray;
    margin-bottom: 12px;
    margin-top: 20px;
    border-radius:0 0 10px 10px;
    align-self: center;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    font-family: Tmon몬소리, Tmon몬소리, Times;
}
#container{
    background-color: oldlace;
    margin-bottom: 15px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
section{
    height: 185px;
    width: 1000px;
    background-color: white;
    border-radius: 11px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-width: 7px;
    border-style: ridge;
    border-color: rgb(148, 101, 101); 
    font-family: Tmon몬소리, Tmon몬소리, Times;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 13px;
}
box{
    height: 45%;
    width: 20%;
    background-color: white;
    border-radius: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
box1{   height: 45%;
    width: 100px;
    background-color: white;
    border-radius: 11px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}
box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 300px;
}
box3{
    height: 52%;
    width: 60%;
    background-color: white;
    border-radius: 11px;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border-width: 7px;
    border-style: ridge;
    border-color: black; 
    font-family: Tmon몬소리, Tmon몬소리, Times;
}